<?xml version="1.0" encoding="utf-8" ?>
<DataBaseInfo>
    <grantOmsDBContext Pool="0" DbType="Myql"  UserName="Grant" PassWord="admin" Database="grant_oms1" >
      <Master  Ip="192.168.100.210" Port="3306" />
      <Slave>
        <Item   Pool="1" Ip="192.168.100.210" Port="3308" /><!--账号密码同主库-->
        <Item   Pool="2" Ip="192.168.100.210" Port="3309" />
      </Slave>
    </grantOmsDBContext>
    <grantUUIDDBContext DbType="Myql">
      <Master Ip="192.168.100.210" Port="3306" UserName="Grant" PassWord="admin" Database="grant_number" />
      <Slave>
         <Item Pool="1" Ip="192.168.100.210" Port="3308" />
         <Item Pool="1" Ip="192.168.100.210" Port="3309" />
      </Slave>
    </grantUUIDDBContext>
</DataBaseInfo>
